<table class="table table-hover">
  <% if @model == "user"%>
    <h2>Users search for "<%= @value %>"</h2>
    <thead>
      <tr>
        <th colspan = "3"></th>
        <th scope="col">Name</th>
        <th scope="col">Introduction</th>
        <th scope="col" colspan = "3"></th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |user|%>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill,40,40, format: 'jpeg', fallback: 'no-image.jpeg' %></td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= user.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <h2>Books search for "<%= @value %>"</h2>
    <thead>
      <tr>
        <th></th>
        <th scope="col">Title</th>
        <th scope="col">Opinion</th>
        <th scope="col" colspan = "3"></th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |book|%>
        <tr>
          <td><%= attachment_image_tag book.user, :profile_image, :fill,40,40, format: 'jpeg', fallback: 'no-image.jpeg' %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>